/**
 * style.scss <https://leozqi.com>.
 */

@font-face { font-family: LibertinusSerif; src: url(LibertinusSerif-Regular.woff2); }
@font-face { font-family: LibertinusSerif; font-style: italic; src: url(LibertinusSerif-Italic.woff2); }
@font-face { font-family: LibertinusSerif; font-weight: bold; src: url(LibertinusSerif-Bold.woff2); }
@font-face { font-family: LibertinusSerif; font-style: italic; font-weight: bold; src: url(LibertinusSerif-BoldItalic.woff2); }

@font-face { font-family: LibertinusSans; src: url(LibertinusSans-Regular.woff2); }
@font-face { font-family: LibertinusSans; font-style: italic; src: url(LibertinusSans-Italic.woff2); }
@font-face { font-family: LibertinusSans; font-weight: bold; src: url(LibertinusSans-Bold.woff2); }
@font-face { font-family: LibertinusSans; font-style: italic; font-weight: bold; src: url(LibertinusSans-BoldItalic.woff2); }

@font-face {
	font-family: 'fontello';
	src: url('./fonts/fontello.eot?87869013');
	src: url('./fonts/fontello.eot?87869013#iefix') format('embedded-opentype'),
		url('./fonts/fontello.woff?87869013') format('woff'),
		url('./fonts/fontello.ttf?87869013') format('truetype'),
		url('./fonts/fontello.svg?87869013#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: never;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

:root {
	--fonts-sans-serif: LibertinusSans;
	--fonts-serif: LibertinusSerif;
	--bg-colour: #eee;
	--sidebar-width: 25vw;
	--ribbon-width: 80px;
	--ribbon-expand-width: 100px;
	grid-template-areas: inherit;
}
html {
	overflow-y: scroll;
	height: 100%;
	margin: 0;
	background-color: var(--bg-colour);
	font-family: var(--fonts-serif);
	font-size: 18px;
	scroll-behavior: smooth;
	scroll-padding-top: 5em;
}
body {
	margin: 0;
	height: 100%;
	display: grid;
	grid-template-columns: 300px auto 5vw;
	grid-template-areas:
		"left	middle	right"
}
a {
	color: #444;
}
#sidebar {
	grid-area: "left";
	background-color: #444;
	color: #eee;
	padding: 0 3vw 0 3vw;
	height: 100%;
	position: sticky;
	top: 0px;
}
#sidebar a {
	color: #eee;
}
#sidebar a:visited {
	color: #eee;
}
#float {
	width: inherit;
	position: sticky;
	top: 20px;
}
#sidebar img {
	padding: 0 0 0 0;
	width: 180px;
	margin: 0 auto 0 auto;
	border-radius: 50%;
	opacity: 100%;
	background-color: #a3c2c2;
}

#profile {
	width: 100%;
	justify-content: center;
	gap: 2vw;
	align-items: center;
	display: inline-flex;
	flex-direction: row;
	margin: 5vh auto 0 auto;
}

#links {
	width: 100%;
	display: flex;
	font-size: 1.5em;
	flex-direction: column;
	gap: 2vh;
}
#links a {
	color: #e7e7e7;
}

main {
	padding: 0 5vw 0 5vw;
	grid-area: "middle";
	color: #444;
	height: 100%;
	font-size: 0.9em;
}

main section {
	max-width: 45vw;
	margin: 0 auto 0 auto;
	padding-bottom: 10vh;
}
main img {
	max-width: 40vw;
}
#tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 0.3em;
}
#tags a {
	text-decoration: none;
	width: min-content;
	color: #cc6600;
}
#tags a:visited {
	color: #cc6600;
}
.tag {
	width: max-content;
	border-radius: 25px;
	padding: 4px 10px;
	background-color: #bfb;
	font-size: 10pt;
	font-family: var(--fonts-sans-serif);
}
nav { font-family: var(--fonts-sans-serif); display: flex; flex-wrap: wrap;}

.hanging { padding-left: 22px; text-indent: -22px; }

h1,h2,h3,h4,h5 { font-family: var(--fonts-sans-serif); }
details { margin: 1em 0 1em 0; }
.title { margin-bottom: 0.2em; }
.card * { margin: 0 0 0 0; }
.card time { font-size: 0.8em; margin-top: auto; }
.card:hover { box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); }
.card h3 { display: inline; margin: auto 0 0 0; font-size: 1em; }
.cardheader { display: flex; justify-content: space-between; }
table { border-collapse: collapse; }
th,td { text-align: left; padding: 0.2em 0.6em 0.2em 0.6em; }
thead,tr { border-bottom: 1px dotted; }
nav strong { white-space: nowrap; }
nav a { padding: 0.2em; margin: 0.2em; color: inherit; flex-grow: 1; }
blockquote { padding-left: 20px; border-left: 1px dotted; opacity: 80%; }
.cardholder {
	display: flex;
	list-style-type: none;
	margin: 5vh 0 0 0;
	padding: 0;
	flex-flow: column wrap;
	gap: 2vh;
}
#toc { border: 1px dotted; margin-top: 2vh; padding: 0 3em 0.2em 1em; width: max-content; }
#toc a { color: #444 }
.card { box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.1s; padding: 1em 3em 1em 1em; }
.card:hover { box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); }
.cardlink { color: inherit; text-decoration: inherit; }
.box { border-left: 5px solid; padding: 0.5em 1em 0.2em 0.5em; }
.theorem { color: #339933; }
.example { color: #b366ff; }
.graph { color: #245eb5; }
.definition { color: #bd2b2b; }
.box p,.box li { color: black; margin-top: 0.5em; padding-top: 0; }
.box summary { color: blue; text-decoration: underline; }
pre { overflow: auto; padding: 10px 0 10px 0; background-color: color-mix(in srgb, var(--bg-colour) 60%, white) !important; border-radius: 25px; padding: 10px; }
pre span { font-size: 0.9em; }
code { font-size: 0.7em; }
.mermaid { overflow: auto; background-color: color-mix(in srgb, var(--bg-colour) 60%, white); border-radius: 25px; padding: 10px; }
.katex { font-size: 1.0em !important; padding: 0 0.1em 0 0.1em; }

.footnote-definition-label {
	position: absolute;
}

.footnote-definition p {
	display: block;
	padding-left: 1.5em;
}

@media (max-width: 600px) {
body {
	grid-template-areas:
		"left"
		"middle"
		"right";
	grid-template-columns: 100%;
}
#float {
	position: static;
	width: 100%;
}
#sidebar {
	position: static;
	height: max-content;
	padding: 0 5vw 5vh 5vw;
	width: auto;
}
main {
	position: static;
	width: auto;
}
main section {
	max-width: 80vw;
}
}

