/**
 * style.scss <https://leozqi.com>.
 */

@font-face { font-family: LibertinusSerif; src: url(LibertinusSerif-Regular.woff2); }
@font-face { font-family: LibertinusSerif; font-style: italic; src: url(LibertinusSerif-Italic.woff2); }
@font-face { font-family: LibertinusSerif; font-weight: bold; src: url(LibertinusSerif-Bold.woff2); }
@font-face { font-family: LibertinusSerif; font-style: italic; font-weight: bold; src: url(LibertinusSerif-BoldItalic.woff2); }

@font-face { font-family: LibertinusSans; src: url(LibertinusSans-Regular.woff2); }
@font-face { font-family: LibertinusSans; font-style: italic; src: url(LibertinusSans-Italic.woff2); }
@font-face { font-family: LibertinusSans; font-weight: bold; src: url(LibertinusSans-Bold.woff2); }
@font-face { font-family: LibertinusSans; font-style: italic; font-weight: bold; src: url(LibertinusSans-BoldItalic.woff2); }

:root {
	--fonts-sans-serif: LibertinusSans;
	--fonts-serif: LibertinusSerif;
	--bg-colour: #e5e5e5;
	--sidebar-width: 25vw;
	--ribbon-width: 80px;
	--ribbon-expand-width: 100px;
}

html { overflow-y: scroll; height: 100%; padding-bottom: 10px; }
html { background-color: var(--bg-colour); font-family: var(--fonts-serif); }
html { scroll-behavior: smooth; scroll-padding-top: 5em; }
body { margin: 0; height: 100%; }

p { text-align: justify; text-justify: inter-word; }
main { margin-left: calc(var(--sidebar-width) + 8vw); margin-right: auto; }
section { width: 50vw; max-width: 40em; padding: 2vh 0 10em 0; }
nav { font-family: var(--fonts-sans-serif); display: flex; flex-wrap: wrap;}
nav a { border: 1px dotted; }

h2 a { color: inherit; }

#bookmarks { display: flex; flex-direction: column; } 
#sidebar { width: var(--sidebar-width); background-color: #c7b285; position: fixed; bottom: 0; top: 0; border: 10px inset }
#centerplate { top: 20%; left: 20px; position: fixed; width: calc(var(--sidebar-width) - 5vw); padding: 20px; }

.hanging { padding-left: 22px; text-indent: -22px; }

.dropdown { display: block; margin: 0 0 2vh auto; }
.dropdown:hover .dropdown-content { display: block; }
.dropdown:hover .dropbtn { width: var(--ribbon-expand-width); }
.hoverEffect { display: block; }

.dropbtn { display: block; width: var(--ribbon-width); }
.dropbtn { border: none; cursor: pointer; filter: drop-shadow(2px 3px 2px rgba(black, 0.5)); background-color: #ff2b24; transition: width 0.5s; color: inherit;}
.dropbtn {
  --f: 0px;  /* control the folded part*/
  --r: 15px; /* control the ribbon shape */
  --t: 10px; /* the top offset */

  inset: var(--t) calc(-1*var(--f)) auto auto;
  padding: 5px 10px var(--f) calc(10px + var(--r));
  clip-path: 
    polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
      calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
      var(--r) calc(50% - var(--f)/2));
}
.dropbtn span { margin: auto 0 auto 0;}
.dropdown-content { display: none; position: absolute; background-color: #f9f9f9; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; width: max-content; right: 0;     padding-left: inherit; padding-right: inherit; }
.dropdown-content a { color: black; text-decoration: none; display: block; text-justify: none; padding: 0.2em; font-size: 0.9em; }
.dropdown-content a:hover {background-color: #f1f1f1}

h1,h2,h3,h4,h5 { font-family: var(--fonts-sans-serif); }
details { margin: 1em 0 1em 0; }
details ul { max-height: 30%; overflow-y: auto; margin: 0.2em 0 0.2em 0; padding-left: 2.5em; }
.title { margin-bottom: 0.2em; }
.card * { margin: 0 0 0 0; }
.card time { font-size: 0.8em; margin-top: auto; }
.card:hover { box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); }
.card h3 { display: inline; margin: auto 0 0 0; font-size: 1em; }
.cardheader { display: flex; justify-content: space-between; }
.card p { margin-top: 0.5em; }
table { border-collapse: collapse; }
th,td { text-align: left; padding: 0.2em 0.6em 0.2em 0.6em; }
thead,tr { border-bottom: 1px dotted; }
nav strong { white-space: nowrap; }
nav a { padding: 0.2em; margin: 0.2em; color: inherit; flex-grow: 1; }
blockquote { padding-left: 20px; border-left: 1px dotted; opacity: 80%; }
.cardholder { display: flex; list-style-type: none; margin: 0; padding: 0; flex-flow: column wrap; }
.card { margin: 4% 4% 4% 0; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.1s; padding: 1em 3em 1em 1em; }
.card:hover { box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); }
.cardlink { color: inherit; text-decoration: inherit; }
.box { border-left: 5px solid; padding: 0.5em 1em 0.2em 0.5em; }
.theorem { color: #339933; }
.example { color: #b366ff; }
.graph { color: #245eb5; }
.definition { color: #bd2b2b; }
.box p,.box li { color: black; margin-top: 0.5em; padding-top: 0; }
.box summary { color: blue; text-decoration: underline; }
#toc details ul,details li { position: relative; }
#toc details li::before, details li::after { content: ""; position: absolute; left: -12px; }
#toc details li::before { border-top: 1px solid #000; top: 9px; width: 8px; height: 0; }
#toc details li::after { border-left: 1px solid #000; height: 100%; width: 0px; top: 2px; }
#toc details li:last-child::after { height: 8px; }
#toc details li { list-style-type: none; }
pre { overflow: auto; padding: 10px 0 10px 0; background-color: color-mix(in srgb, var(--bg-colour) 60%, white) !important; border-radius: 25px; padding: 10px; }
pre span { font-size: 0.9em; }
code { font-size: 0.9em; }
.mermaid { overflow: auto; background-color: color-mix(in srgb, var(--bg-colour) 60%, white); border-radius: 25px; padding: 10px; }
.katex { font-size: 1.0em !important; padding: 0 0.1em 0 0.1em; }

@media (max-width: 450px) {
	#sidebar { position: static; width: 100%; }
	#centerplate { position: static; margin: 0 auto 0 auto; width: 80%; }
	section { max-width: 80%; }
}
