<details class="graph" open>
  <summary class="ref"><a href="#{{ ref | slugify }}">Figure {{ nth }}: {{ ref }}</a></summary>
  <script type="text/javascript">
    window.addEventListener("DOMContentLoaded", function() {
      var local_width = document.querySelector('#{{ ref | slugify }}').offsetWidth;
      functionPlot({
        target: '#{{ ref | slugify }}',
        grid: true,
        height: 200,
        width: local_width,
        xAxis: {
          label: '{{ x_label | safe }}'
        },
        yAxis: {
          label: '{{ x_label | safe }}'
        },
        data: [
          {{ body | safe }}
        ]
      });
    }, false);
  </script>
  <div id="{{ ref | slugify }}" style="overflow: scroll;"></div>
</details>
