<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Leo Qi{% if page.title %} &#183; {{ page.title }} {% endif %}</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="shortcut icon" type="image/svg" href="/favicon.svg">
  {% block head %}{% endblock %}
</head>

<body>
<div id="sidebar">
  <div id="float">
  <center>
  <div id="profile">
    <div>
      <a href="/"><img src="/profile.webp" title="Candid Photographer: Kaitlyn Wang" alt="Leo Qi"/></a>
    </div>
    <div id="links">
      <a href="mailto:leo@leozqi.com"><i class="icon">&#xf0e0;</i></a>
      <a href="https://github.com/leozqi"><i class="icon">&#xf09b;</i></a>
      <a href="https://www.linkedin.com/in/leozqi"><i class="icon">&#xf30c;</i></a>
      <a href="/atom.xml"><i class="icon">&#xf143;</i></a>
    </div>
  </div>
  </center>

  <h2><a href="/">I</a> write about ...</h2>
  <div id="tags">
    {% set tags = get_taxonomy(kind="tags") %}
    {% for tag in tags.items %}
      <span class="tag"><a href="{{ tag.permalink }}">🐙 {{ tag.name }}</a></span>
    {% endfor %}
  </div>

  {% if page.toc %}
  <p>
  <a href="#toc"><em>Back to table of contents ▲</em></a>
  </p>
  {% endif %}

  </div><!-- float -->
</div><!-- Sidebar -->

<main>
  <section>
    {% block content %} {% endblock %}
  </section>
</main>

{% block scripts %}{% endblock %}

</body>

</html>
