<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Leo Qi{% if page.title %} &#183; {{ page.title }} {% endif %}</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="shortcut icon" type="image/svg" href="/favicon.svg">
  {% block head %}{% endblock %}
</head>

<body>
<div id="sidebar">
  <center>
  <div id="profile">
    <div>
      <img src="/profile.webp" alt="Leo Qi"/>
    </div>
    <div id="links">
      <a href="mailto:leo@leozqi.com"><i class="icon">&#xf0e0;</i></a>
      <a href="https://github.com/leozqi"><i class="icon">&#xf09b;</i></a>
      <a href="https://www.linkedin.com/in/leozqi"><i class="icon">&#xf30c;</i></a>
      <a href="/atom.xml"><i class="icon">&#xf143;</i></a>
    </div>
  </div>
  </center>

  <h2>I write about ...</h2>
  <div id="tags">
    {% set tags = get_taxonomy(kind="tags") %}
    {% for tag in tags.items %}
      <a href="{{ tag.permalink }}"><span class="tag">{{ tag.name }}</span></a>
    {% endfor %}
  </div>
  <div id="toc">
    {% if page.toc %}
    <details open="">
      <summary>Table of contents:</summary>
      <ul>
      {% for h1 in page.toc %}
        <li>
          <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
          {% if h1.children %}
            <ul>
              {% for h2 in h1.children %}
                <li><a href="{{ h2.permalink | safe }}">{{ h2.title }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </details>
    {% endif %}
  </div>
</div><!-- Sidebar -->

<main>
  <section>
    {% block content %} {% endblock %}
  </section>
</main>

{% block scripts %}{% endblock %}

</body>

</html>
